<form action="/programs/<%=@program.slug%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="name">New Program Title</label>
    <input type="text" id="name" name="program[name]" value="<%=@program.name%>">
    <a class="signup edit" href="javascript:;" onclick="parentNode.submit();">Save Changes</a>
</form><br>

   <a href="/users">Home</a><br>
   <a href="/logout">logout</a>



