
<form action="/programs" method="post">
    <label for="name">Program Title</label>
    <input type="text" id="name" name="program[name]">
    <a class="signup edit" href="javascript:;" onclick="parentNode.submit();">Create Program</a>
</form>

<br>

<a href="/users/<%=current_user.id%>">Home</a><br>
<a href="/logout">logout</a>