
 hello <%=@user.username%>
 Add some details to complete profile<br><br>
 <form action="/users" method="post">
    <label for="weight">Weight: </label>
    <input type="text" id="weight" name="user[weight]"><br>
    <label for="height">Height: </label>
    <input type="text" id="height" name="user[height]"><br><br>
    <a class="signup" href="javascript:;" onclick="parentNode.submit();">Create User</a>
</form>


