<!DOCTYPE html>
  <head>
    <title>FitnessBuddy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css" />
  </head>
  <body>
    <header class="brand">
      <h1>fitness buddy</h1>
    </header>
    <div class="wrapper">

        <%=yield%>

      <footer class="branding">
        <span>
        <small>&copy; 2021 <strong>FitnessBuddy</strong></small>
        </span>
      </footer>
    </div>
  </body>
</html>
