 <div class="container">
    
    <span>
        <form action="/signup" method="post">
            
            <label for="username">new user name</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">new password</label><br>
            <input type="password" id="password" name="password">
            <i class="far fa-eye" id="togglePassword"></i><br>
            
            <a class="signup" href="javascript:;" onclick="parentNode.submit();">Signup</a>
        </form>
    </span>

    <script src="javascripts/app.js"></script>

</div>