<div class="container"> 
  <span>

    <h3>Welcome to Fitness Buddy! </h3>
    <h3>Your companion for building</h3> 
    <h3>and maintaing a Exercise Routine.</h3>
  
    <form action="/" method="post">
      <label for="username" id="signup">USER NAME</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password" id="signup">PASSWORD</label><br>
      <input type="password" id="password" name="password">
      <i class="far fa-eye" id="togglePassword"></i><br>
  
      <a class="signup" href="javascript:;" onclick="parentNode.submit();">Login</a>
    </form>
  
    <script src="javascripts/app.js"></script>

    <form action="/signup" method="get">
      <a class="signup" href="javascript:;" onclick="parentNode.submit();">Signup</a>
    </form>
  
  </span>
</div>

